<div class="container mt-5">
  <h1 class="mb-4">Stupid Coaching</h1>
  <form action="/answer" data-turbo="false">
    <input type="text" name="question" placeholder="Ask your coach" class="form-control mb-3">
    <input type="submit" class="btn btn-primary" value="Ask!">
  </form>
</div>
